@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root{
    --prim: black;
    --sec: #0A5BA8;
    --font: 'League Spartan';
} /*creating all the variables to use later in the css*/


body{
    font-family: var(--font);
    background-color: var(--prim);
    margin: 0;
    padding: 0; 
}/*backgroung color and the font of the whole doc*/

header{
    display: flex;
    color: var(--sec);
    justify-content: space-between;
    margin: 2em;
}/*customizing the header*/


header h1{
    font-size: 67px;
}/*bigger h1 setting*/

header img{
    min-width: 267px;
    max-height: 106px;
    margin: 2em;
    margin-right: 3em;
}/*setting a max height and min width for the */

.career, .edu, .housing, .ess, .life, .save {
    color: white;
}

#inputs > section > input{
    height: 40px;
    width: 250px;
    border-radius: 100px;
}

#inputs > section > h3 {
    margin-bottom: 0.5rem;
}

#inputs > section > #career {
margin-left: 0.5rem;    
}


section {
    margin: 2em;
}

section > img {
    margin: 1em;
}

button{
    background-color: transparent;
}


#inputs > section > button {
    margin-left: 3em;
    border: none;
}

button:hover {
    cursor: pointer;
}

#inputs > section > #find {
    margin-left: -2rem;
    margin-top: -1em;
    margin-bottom: -0.2em;
}

[alt='info']{
    margin-bottom: -12px;
}